header .content{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0px;
}

header .logo{
	width: 155px;
}

header .content .lateral-menu{
	width: calc(100% - 245px);
	display: inline-flex;
	justify-content: flex-end;
}

header .content .lateral-menu .nav{
	display: inline-flex;
	justify-content: flex-end;
}

header .content .lateral-menu .nav li{
	margin-left: 90px;
}

header .content .lateral-menu .social-media{
	width: max-content;
	margin-left: 80px;
	display: inline-flex;
	justify-content: flex-end;
}